.streams {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 2%;
    width: 100%;
    justify-content: space-evenly;
}

body {
    overflow-y: scroll;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #643f6e #262626;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
}

  *::-webkit-scrollbar-track {
    background: #262626;
}

  *::-webkit-scrollbar-thumb {
    background-color: #643f6e;
    border-radius: 10px;
    border: 3px solid #643f6e;
}
